<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<link rel="shortcut icon" type="image/png" href="{%  static 'images/nttdata.png' %}"/>
    <title>Prediction Tool</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Tech Mag template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
	 
<link rel="stylesheet" type="text/css" href="{%  static 'login/styles/bootstrap-4.1.2/bootstrap.min.css' %}">
<link href="{%  static 'login/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{%  static 'login/plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{%  static 'login/styles/main_styles.css' %}">
<script src="{%  static 'login/js/jquery-3.2.1.min.js' %}"></script>
<script src="{%  static 'login/styles/bootstrap-4.1.2/bootstrap.min.js' %}"></script>
<script src="{%  static 'login/plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{%  static 'login/plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{%  static 'login/plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{%  static 'login/js/custom.js' %}"></script>
</head>
<body>
<div class="super_container">
	<div class="header">
		<div class="header_nav_container" id="header">			
			<div align="center" style="font-size:40px">
						<b>Prediction Tool</b>
			</div>
		</div>
	</div>
</div>
<div class="home_slider_container">
		<div class="owl-carousel owl-theme home_slider">
			<!-- Slide -->
			<div class="owl-item home_slider_item">
				<div class="background_image" style="background-image:url('{% static "login/images/login_bg1.jpg" %}');"></div>
				<div class="home_slider_content text-center">
					<div class="home_slider_content_inner" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
						<div class="home_category">AI & Machine Learning Tool</div>
						<div class="home_text"> A web-based solution for predicting the future number of defects</div>
						<div><button class="home_button trans_200" onclick="openForm()">Get Started</button></div>
					</div>
				</div>
			</div>
			<!-- Slide -->
			<div class="owl-item home_slider_item">
				<div class="background_image" style="background-image:url('{% static "login/images/login_bg2.jpeg" %}')"></div>
				<div class="home_slider_content text-center">
					<div class="home_slider_content_inner" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
						<div class="home_category">AI & Machine Learning Tool</div>
						<div class="home_text"> Predicting the future by analysing the past historical data</div>
						<div ><button class="home_button trans_200" onclick="openForm()">Get Started</button></div>
					</div>
				</div>
			</div>
			<!-- Slide -->
						
		</div>
		<!-- Home Slider Navigation -->
		<div class="home_slider_nav home_slider_prev trans_200"><i class="fa fa-angle-left trans_200" aria-hidden="true"></i></div>
		<div class="home_slider_nav home_slider_next trans_200"><i class="fa fa-angle-right trans_200" aria-hidden="true"></i></div>

		<div class="form-popup" id="myForm">
			<form method="post" class="form-container">{% csrf_token %}
				<h3 class="head">Login</h3>
				{{ form.as_p }}
				<div align="center"><button type="submit" class="btn">Login</button>
				<button type="button" class="btn cancel" onclick="closeForm()">Close</button></div>
			</form>
		</div>
	</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
</body>
</html>